@tailwind base;
@tailwind components;
@tailwind utilities;




.header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.navbar {
    width: 30%;
    background-color: green;
    padding: 100px 0;
    text-align: center;
}

.content {
    width: 70%;
    background-color: orange;
    padding: 100px 0;
    text-align: center;
}

.footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 50px 0;
}